<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
    <header>
    </header>
    <div>
        <div class="text-center">
            <div class="container">
                <div class="col-sm-6 col-centered" id="productCard">
                    <h1 id="cartTitle">Tu carrito de compra </h1>
                    <ul id="productList">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <small>&copy; Copyright 2017, La Bahía del Momo</small>
    </div>
    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../scripts/createNavBar.js"></script>
    <script src="../scripts/shoping.js"></script>
    <script>
	    $(document).ready(function () {
		    loadCartItems();
		    $('#cartIcon').remove();
		    $('.btn-danger').click(removeFromCart);
		    document.title = 'Carrito de Momos';
	    });
    </script>
</body>
</html>