<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <header>
    </header>

    <div class="container text-center" style="width: 800px;">
        <div class="card">
            <div class="container">
                <div class="col-sm-8" style="float: left;">
                    <h1 id="productName">Nombre del Momo</h1>
                    <img id="productImg" alt="Meme not found">
                </div>
                <div class="col-sm-4" style="display: table">
                    <h1>Aquí va lo demás</h1>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer">
        <small>&copy; Copyright 2017, La Bahía del Momo</small>
    </div>

    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../scripts/createNavBar.js"></script>
    <script src="../scripts/shoping.js"></script>
</body>
</html>