<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="../../libs/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <header>
    </header>
    <div>
        <div class="text-center">
            <div class="container">
                <div class="col-sm-6 col-centered">
                    <h1 id="productName">Nombre del Momo</h1>
                    <img style="width:100%; height: 250px;" id="productImg" alt="Meme not found">
                    <div class="product-info">
                        <div class="text" id="productPrice"></div>
                        <div class="text" id="productStock"></div>
                        <input type="button" class="btn btn-primary" value="Agregar al carrito">
                        <input type="button" class="btn btn-primary" value="Agregar a mi lista de deseos">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <small>&copy; Copyright 2017, La Bahía del Momo</small>
    </div>

    <script src="../../libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../scripts/createNavBar.js"></script>
    <script src="../scripts/shoping.js"></script>
</body>
</html>